<!DOCTYPE html>
<head>
  <title>Verfügbarkeits-Monitoring</title>
  <link rel="stylesheet" href="./css/main.css" />

</head>

<body>
  <div class="content">
    <div class="box-frame"><div class="boxes" id="Box1">Bild.de</div><p class="statusMessage">Status: Okay(200)</p><p class="timeMessage">12:30:30</p></div>
    <div class="box-frame"><div class="boxes" id="Box1">Bild.de</div><p class="statusMessage">Status: Okay(200)</p><p class="timeMessage">12:30:30</p></div>
    <div class="box-frame"><div class="boxes" id="Box1">Bild.de</div><p class="statusMessage">Status: Okay(200)</p><p class="timeMessage">12:30:30</p></div>
    </div>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="./js/main.js" defer></script>
</body>
