<!DOCTYPE html>
<head>
  <title>Verfügbarkeits-Monitoring</title>
  <link rel="stylesheet" href="./css/main.css" />
  <link rel="icon" type="image/x-icon" href="./images/favicon.png"/>
 
</head>

<body>
  <div class="wrapper"> <div class="content">
    <div class="box-frame"><div class="boxes" id="Box">Google</div><p class="statusMessage"></p><p class="timeMessage"></p></div>
    <div class="box-frame"><div class="boxes" id="Box">Bild</div><p class="statusMessage"></p><p class="timeMessage"></p></div>
    <div class="box-frame"><div class="boxes" id="Box">Facebook</div><p class="statusMessage"></p><p class="timeMessage"></p></div>
  </div>
  <div class="content">
    <div class="box-frame"><div class="boxes" id="Box">Twitch</div><p class="statusMessage" ></p><p class="timeMessage"></p></div>
    <div class="box-frame"><div class="boxes" id="Box">Linkedin</div><p class="statusMessage"></p><p class="timeMessage"></p></div>
    <div class="box-frame"><div class="boxes" id="Box">Twitter</div><p class="statusMessage"></p><p class="timeMessage"></p></div>
  </div>
  <div class="content">
    <div class="box-frame"><div class="boxes" id="Box">Instagram</div><p class="statusMessage" ></p><p class="timeMessage"></p></div>
    <div class="box-frame"><div class="boxes" id="Box">Faceit</div><p class="statusMessage"></p><p class="timeMessage"></p></div>
    <div class="box-frame"><div class="boxes" id="Box">FAZ</div><p class="statusMessage"></p><p class="timeMessage"></p></div>
  </div>
  
</div>
<div class="footer">
  <p>Verfügbarkeits-Monitoring | IHK-Abschlussprojekt | Dominik Wolf 2021</p>
</div>
   
   
  

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="./js/main.js" defer></script>
</body>
