@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  width: 99%;
  height: 99%;
  background: lightblue;

}

.wrapper {
  background: lightblue;
  width: 100%;
  height: 100%;
  
 
}

.content {
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: black;
  text-align: center;
  font-family: "Roboto", sans-serif;
}



#Box {
  background-color: gray;
}

.boxes {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  color: white;
  width: 200px;
  height: 120px;
  background-color: green;
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-frame {
  filter: drop-shadow(10px 4px 10px gray);
  margin-top: 80px;
  margin-right: 40px;
  margin-left: 40px;
  flex-direction: column;
  width: 200px;
  height: 180px;
  background-color: gray;
  border-radius: 5%;
}

.statusMessage {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  margin-top: 7px;
}

.timeMessage {
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: -10px;
}
